<footer class="page-footer font-small bg-secondary pt-4">

<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white"> Me siga nas redes sociais!</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
            <li>
                <a href="https://www.linkedin.com/in/malcolm-silva-653606149/" target= "_blank" class="iconLinkedin text-white">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>

        </ul>

        <ul class="social-network">
            <li>
                <a href="https://www.facebook.com/malcolmsilva011/" target= "_blank" class="iconFace text-white ">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>

        </ul>

    </div>
</div>

 </footer>
