<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class=" me-auto navbar-nav d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://scontent.fgru8-1.fna.fbcdn.net/v/t39.30808-6/258867709_4423180374444469_5481259962056392413_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHt9_rwzZory-iOtMt-rmLxQQpVNbDVK7NBClU1sNUrs6b9gY2ppUghH1WnE8pRPc4HQNOFbduhbkTv_jZm9Ojo&_nc_ohc=IRHEK29boSYAX9iwC4E&_nc_ht=scontent.fgru8-1.fna&oh=63db86b5c68f4a86a44c3414f88321ca&oe=61BA8E57"
           alt="Imagem do user" width="50px" height="50px" class="img fluid rounded-circle m-3">
        </li>
        <li class="nav-item pl-3">
          <p class="m-3 font-weight-bold text-light fs-16">Nome do Usuário</p>
        </li>
        <li class="nav-item pl-3">
            <a href="">
                <p class="text-light fs-16 m-3"> <i class="fa fa-edit"></i></p>
            </a>           
        </li>
      </ul>

      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item pl-3">
            <a class="m-3 font-weight-bold text-light fs-16">Sair <i class="fa fa-sign-out-alt"
                aria-hidden="true"></i> </a>
          </li>
      </ul>

    </div>
  </nav>