#img-bg{
    background-image: url("https://scontent.fgru8-1.fna.fbcdn.net/v/t1.6435-9/48355296_1943209855774879_3988866132160282624_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeEtofCGbg9fq1P3tGS-fZqkb04jPg4BR1BvTiM-DgFHUAu3348C8dNc819m6WLSKCd-Uo82nN7VpmD8y3myT0jz&_nc_ohc=omrUnB_L3gYAX-194zq&_nc_ht=scontent.fgru8-1.fna&oh=00_AT9OXCPkdLf6CTrgPMupk4mOCenrlU3twbyLdN1pHQQMKw&oe=61DFE397");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}