#img-bg{
    background-image: url("https://scontent.fgru8-1.fna.fbcdn.net/v/t1.6435-9/75282199_2454354211327105_1066615549837967360_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeGoYGDbGMx6oDRTSMdhkxIZkY7j18239e6RjuPXzbf17qR0ePU0iVQdzu8qyXj87maEHQmpLzFr9YT-XL7CFH0S&_nc_ohc=pxiCVwk5Q9gAX94ma5f&tn=hHT_jNU-THiofp7i&_nc_ht=scontent.fgru8-1.fna&oh=00_AT9UZiMq-d1n8E-rEIw-OTuTzg7WUGfkxGFWZbq08D57hA&oe=61E00BF5");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}